* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background-color: black;
}

/*scroll to top button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; /* Make sure it does not overlap */
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 2px 18px;
  border-radius: 30px;
  font-size: 33px;
}

#myBtn:hover {
  background-color: #555;
}

/*navigation bar*/

div.container-fluid {
  margin: 0 3em;
}

div.container-fluid a.navbar-brand {
  font-size: 2.7em;
  margin-bottom: 3px;
}

div.container-fluid a {
  color: white;
  font-size: 1.5em;
  margin-right: 1.5em;
}

nav ul.dropdown-menu {
  padding: 0.5em 1.5em 0 0;
  border-radius: 0;
}

div.collapse {
  position: relative;
  margin-top: 2px;
}

nav a#help {
  position: absolute;
  right: -25px; /*to position the help button on the right side of the nav bar*/
}

nav ul.dropdown-menu a.dropdown-item {
  background-color: white;
  color: gray;
}

nav ul.dropdown-menu a.dropdown-item:hover {
  background-color: rgb(248, 245, 245);
  color: black;
}

nav ul.right-nav {
  width: 170px;
  gap: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul.right-nav li {
  color: white;
  list-style-type: none;
  font-size: 1.5em;
  margin-top: 10px;
}

nav ul.right-nav button {
  border: none;
  padding: 0.4em 0.7em;
  border-radius: 1.2em;
  font-weight: 400;
}

/*hero-section*/

.hero {
  background-color: black;
  height: auto;
  padding-top: 6em;
  padding-bottom: 6em;
}

.hero-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5em;
  animation: fadeInSection 5s;
}

@keyframes fadeInSection {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-text h1 {
  font-size: 5.2em;
  margin-bottom: 0.4em;
}

.hero-text p {
  font-size: 2em;
  margin-bottom: 1.2em;
}

.hero-text input {
  width: 50%;
  min-width: 20em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  border: none;
  font-size: 1.6em;
}

.hero-text button {
  width: 20%;
  min-width: 7em;
  padding: 1em 0.5em;
  border-radius: 0.8em;
  border: none;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.6em;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-uber {
  height: auto;
  width: 90%;
  border-radius: 7px;
}

/*section*/

.section-1,
.section-2 {
  margin: 5em 5em;
  background-color: white;
  color: black;
}

.section-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-image img {
  width: 90%;
  height: auto;
  border-radius: 7px;
}

.section-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding-left: 5em;
}

.section-text h2 {
  font-size: 5.2em;
  max-width: 80%;
  margin-bottom: 0.1em;
}

.section-text p {
  width: 20em;
  font-size: 2em;
  line-height: 1.8em;
  margin: 1em 0;
}

.section-text button {
  width: 30%;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10px;
  font-size: 1.7em;
  padding: 0.8em 0.3em;
}

.section-text a {
  margin-left: 0.9em;
  font-size: 1.7em;
  color: black;
  text-decoration: none;
  border-bottom: rgb(193, 186, 186) solid 1.5px;
  padding-bottom: 0.4em;
}

/*sectiunea 3 - DOWNLOAD APPS*/

.download {
  background-color: rgb(242, 241, 241);
  color: black;
  height: auto;
  padding-bottom: 3em;
}

.download h2 {
  font-size: 3.5em;
  padding: 1.5em 0em 1.5em 1.5em;
}

.apps {
  display: flex;
  justify-content: space-around;
  height: auto;
  padding: 0em 4em;
}

.apps h2 {
  font-size: 2.5em;
  padding: 0;
}

.image-small {
  display: none;
}

.image-full {
  width: auto;
  height: 15em;
}

.apps-download {
  width: 45%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding: 0em 3em;
}

.apps-left {
  display: flex;
  align-items: center;
}
.scan {
  margin: 0em 1em;
}

.scan p {
  font-size: 1.8em;
}

.apps-download .arrow p {
  font-size: 3em;
  transform: translateX(20%);
  transition: 0.7s;
}

.apps-download:hover {
  cursor: pointer;
}

.apps-download:hover .arrow p {
  transform: translateX(70%);
}

/*footer*/

footer {
  background-color: black;
  color: white;
  height: auto;
  padding-bottom: 2em;
}

.footer-1 {
  padding: 5em 6em 3em 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.footer-1 p,
a,
.footer-mini p {
  font-size: 1.9em;
}

.footer-1 p,
a {
  padding-bottom: 1em;
  margin: 0;
}

#link {
  position: absolute;
  right: 3em;
  top: 2em;
  font-size: 1.6em;
}

div.footer-2 {
  margin: 3em 5em;
}

.footer-mini {
  flex-direction: column;
  align-items: flex-start;
}

.footer-mini li:hover {
  cursor: pointer;
  color: gray;
}

.footer-mini li {
  list-style-type: none;
  font-size: 1.6em;
  line-height: 2em;
}

@media screen and (max-width: 990px) {
  /*navigation bar*/
  ul.right-nav {
    position: absolute;
    right: 70px;
    top: -2px;
  }

  button.navbar-toggler {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px 13px; /*to switch positions between the hamburber menu and the ul.right-nav*/
  }

  div.collapse a.nav-link:hover {
    color: rgb(141, 131, 131);
  }

  /*nav dropdown menu*/
  nav ul.dropdown-menu {
    background-color: black;
    border-left: 1px solid gray;
  }

  nav ul.dropdown-menu a.dropdown-item {
    background-color: black;
  }

  nav ul.dropdown-menu a.dropdown-item:hover {
    background-color: black;
    color: white;
  }

  /*help button*/
  nav a#help {
    position: static;
  }

  /*section*/

  .section-1,
  .section-2 {
    margin: 3em 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .button-get-started {
    display: block;
    margin-bottom: 1em;
  }

  .section-image {
    min-width: 100%;
    padding: 2em 4em;
  }

  /*section 3 -  Downloads*/

  .apps {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .apps-download {
    height: auto;
    width: 100%;
    justify-content: space-between;
    padding: 2em;
  }

  .image-full {
    display: none;
  }

  .scan p {
    display: none;
  }

  .image-small {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /*footer*/

  #link {
    position: static;
  }

  .footer-mini {
    margin-bottom: 4em;
  }
}
